/* ====== Gaya Umum ====== */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
}

/* ====== Judul ====== */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e293b;
    font-size: 1.6em;
    font-family: 'Poppins';
}

/* ====== Kontainer Biodata ====== */
.form-container {
    background-color: blanchedalmond;
    border-radius: 5%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 55%;
    padding: 30px;
}

img {
    display: block;
    margin: 0 auto 15px auto;
    width: 120px;
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f3f4f6;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.7;
    margin: 15px 0;
    font-size: 15px;
    color: #374151;
    padding: 0 5px;
}

.sosial-media{
    margin-top: 50px;
}

.sosial-media h3{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sosial-media img{
    width: 50px;
    align-content: center;
}

